
<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start" style="background-color: #3f51b5;">
    <mat-nav-list>
      <a mat-list-item routerLink='/patientInfo'>Patient Info</a>
      <a mat-list-item routerLink='/providerInfo'>Provide Info</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      P3 System
      <span class="toolbar-spacer"></span>
     POC Angular 8
    </mat-toolbar>
    <div class="main-content">
      <h1>Welcome to P3 System</h1>
    </div>

    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
